<!-- Error Message Starts-->
<div *ngIf="showError">
<error [errorCode]="broadcastErrorCode"></error>
</div>
<!-- Error Message Ends-->
<div class="alert alert-success" role="alert" *ngIf="displayTrailerAdded">
    <div class="glyphicon glyphicon-ok"></div> 
    <div>New Trailer Added Successfully</div>
</div>
<h1>Add Trailer</h1>
<form [formGroup]="addTrailerForm" *ngIf="showForm">
<div class="row">
<div class="col-md-4">
<table class="data" cellspacing="2">

<tr><td>Trailer Name</td><td><input type="text" class="form-control" formControlName="trailerName"></td></tr>
<tr><td>Trailer Number</td><td><input type="text" class="form-control" formControlName="trailerNumber" required></td></tr>
<tr><td>Make</td><td><input type="text" class="form-control" formControlName="make" required></td></tr>
<tr><td>Model (Year)</td><td><input type="text" class="form-control" formControlName="model" required></td></tr>
<tr><td>Color</td><td><input type="text" class="form-control" formControlName="color"></td></tr>
<tr><td>License Number</td><td><input type="text" class="form-control" formControlName="licenseNumber" required></td></tr>
<tr><td>License Expiry</td><td><input type="date" class="form-control" formControlName="licenseExpiry" required></td></tr>
<tr><td>Base Location</td><td><input type="text" class="form-control" formControlName="baseLocation" required></td></tr>
<tr><td>Distnace Traveled (Km)</td><td><input type="number" class="form-control" formControlName="distanceTraveled" required></td></tr>
<tr><td>Maximum Load Capacity (Tons)</td><td><input type="text" class="form-control" formControlName="maxLoad" required></td></tr>
<tr><td>Height (ft)</td><td><input type="text" class="form-control" formControlName="height"></td></tr>
<tr><td>Length (ft)</td><td><input type="text" class="form-control" formControlName="length"></td></tr>
<tr><td>Registered Company</td><td><input type="text" class="form-control" formControlName="registrationCompany"></td></tr>
<tr><td>Notes</td><td><input type="text" class="form-control" formControlName="notes"></td></tr>
</table>
</div>
 </div>
 </form>
 <br>
<div class="row">
<div class="col-md-4">
<button type="button" (click)="onClickSave(addTrailerForm.value)" class="btn btn-primary">Save</button> 
<button class="btn btn-primary" (click)="onClickCancel()">Cancel</button>
</div>
 </div>
