
<div class="row ">
    <div class="col-12 ml-5">
        <div>
            <h1 class="separator">Driver <span>(Total {{driverFilter }}, available {{availableDriver}})</span>
                <span class="pull-right">
                    <a (click)="onClickDriverList()"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Driver List</a> | 
                    <a (click)="onClickAddDriver()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Add Driver</a> 
                </span>
            </h1>
        </div>
        <div *ngIf='driverListDisplay'>
            <driver-list></driver-list>
        </div>
        <div *ngIf='driverAddDisplay'>
            <driver-add></driver-add>
        </div>
    </div>
</div>