<!--this navigation bar is for renposible mobile display -->
<div *ngIf="!showDashBoardOptions" class="showDashBoardOptions">

        <nav>
                <ul class="dashBoardSelectOptionsUl pl-3 list-unstyled">
                        <li class="mt-4 pl-2" [ngStyle]="backgroundColor" (click)="onClickHomeView(0)" > 
                            <label class="dashboardOptionsCss"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span> </label>
                        </li>
                        <li class="mt-4 mb-4 pl-2" (click)="onClickComapnyView(1)"  > 
                            <label class="dashboardOptionsCss"><i class="fa fa-building-o" aria-hidden="true"></i> <span>Company</span> </label>
                        </li>
                        <span class="mt-4 pl-2" >
                                <label class="dashboardOptionsCss"><i class="fa fa-car" aria-hidden="true"></i> <span>Vechicles</span> </label>
                        </span>
                           
                        <li class="mt-4 ml-3 pl-2 " (click)="onClickTruckView(2)" >
                                <label class="dashboardOptionsCss"><i class="fa fa-truck" aria-hidden="true"></i> <span>Truck</span> </label>
                        </li>
                        <li class="mt-4 ml-3 pl-2" (click)="onClickTrailerView(3)"  >
                            <label class="dashboardOptionsCss"><i class="fa fa-building-o" aria-hidden="true"></i> <span>Trailer</span> </label>
                        </li>
                        <li class="mt-4 pl-2" (click)="onClickDriverView(4)" >  
                            <label class="dashboardOptionsCss"><i class="fa fa-users" aria-hidden="true"></i> <span>Drivers</span> </label>
                        </li>
                        <li class="mt-4 mb-4 pl-2" (click)="onClickDocumentView(5)" >  
                            <label class="dashboardOptionsCss"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span>Documents</span> </label>    
                        </li>
                        <span class="mt-4 pl-2" >  
                            <label class="dashboardOptionsCss"><i class="fa fa-bar-chart" aria-hidden="true"></i> <span>Reports</span> </label>    
                        </span>
                        <li class="mt-4 ml-3 pl-2" (click)="onClickAssetUtilizationView(6)"  >
                                    <label class="dashboardOptionsCss">Asset Utilization </label>
                        </li>
                                
                        <li class="mt-4 ml-3 pl-2" >
                             <label class="dashboardOptionsCss" (click)="onClickDriverDairyView(7)" >Driver Dairy </label>
                        </li>
                        <li class="mt-4 ml-3 pl-2" >
                            <label class="dashboardOptionsCss" (click)="onClickDVIRView(8)" >DVIR </label>
                         </li>
                        <li class="mt-4 ml-3 pl-2" >
                            <label class="dashboardOptionsCss" (click)="onClickIFTAView(9)" >IFTA </label>
                        </li>
                           
                    </ul>
        </nav>
</div>





<div class="container-fluid ">
    <div class="row">
        <div class="col-12" >
            <div class = "row">
                 <!-- This heading will be hidden when the web browser resize below the medium-->
                <div class="col-2  hidden-md-down" >
                   <div class="row logoImage" >
                        <div class="col-12"  >
                            <div [ngStyle]="{'display':'inline'}">
                                <label><img src="external/images/FleetOperate-logo-JPG.jpg" class="img-fluid" alt="Responsive image"></label>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!-- This heading will be hidden when the web browser resize below the medium-->
                <div class="col-10 hidden-sm-down hidden-md-down">
                    <div class="row pt-2 pb-3" [ngStyle]="{'background-color':'#BDC3C7'}">
                        <div class="col-xlg-8 col-lg-8 col-md-6  "  >
                            <div  [ngStyle]="{'display':'inline'}">
                                <label class="mt-2" [ngStyle]="{ 'background-color':'#454545','height':'30px','width':'35px','color':'#FFFFFF'}"><i [ngStyle]="{'margin-top':'3px','margin-bottom':'3px','margin-left':'5px','margin-left':'5px','font-size':'23px'}" class="fa fa-home" aria-hidden="true"></i> </label>
                            </div>
                           
                            
                            <div *ngIf="showDriverSearch"  [ngStyle]="{'display':'inline'}" class="hidden-sm-down  ml-5">
                                    
                                       <input id="driverSearchInputFied" type="text" name="search" placeholder="Search..">
                                           
                                          <button [ngStyle]="{'width':'45px','height':'30px','background-color':'#4B77BE','color':'#FFFFFF','border': 'none'}">GO!</button>
                            </div>
                        </div>
                        <div  class="col-xlg-4 col-lg-4 col-md-6  pt-2 headingsStyle">
                            <div class="row justify-content-end">
                                    <div  class="col-xl-7 col-lg-7 hidden-sm-down" [ngStyle]="{'text-align':' right'}">
                                            <label><span>Welcome{{userName}}</span></label>
                                            <img class="ui avatar mini image" src="external/images/icons/customerprofile.png">
                                            
                                    </div>
                                    <div  class="col-xl-5 col-lg-5 col-12 pt-2">
                                        <label><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</label>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- This heading will show only when the web browser is resize to medium and above-->
                <div class="col-12 hidden-lg-up">
                    <div class="row pt-2 pb-3" [ngStyle]="{'background-color':'#BDC3C7'}">
                        <div class="col-3"  >
                            <div [ngStyle]="{'display':'inline'}">
                                <label (click)="showMobileBarOptions()" [ngStyle]="{ 'background-color':'#454545','height':'30px','width':'35px','color':'#FFFFFF'}"><i [ngStyle]="{'margin-top':'6px','margin-left':'10px'}" class="fa fa-bars" aria-hidden="true"></i> </label>
                            </div>
                           
                            <div *ngIf="showDriverSearch"  class="hidden-sm-down">
                             
                                <input id="driverSearchInputFied" type="text" name="search" placeholder="Search..">
                                    
                                   <button [ngStyle]="{'width':'45px','height':'30px','background-color':'#4B77BE','color':'#FFFFFF','border': 'none'}">GO!</button>
                            </div>
                        </div>
                        <div  class="col-9 headingsStyle">
                            <div class="row justify-content-end">
                                <div  [ngStyle]="{'display':'inline'}">
                                        <label><span>Welcome{{userName}}</span></label>
                                        <img class="ui avatar mini image" src="external/images/icons/customerprofile.png">
                                        
                                </div>
                                <div class="ml-5 pt-2 mr-4" [ngStyle]="{'display':'inline'}">
                                    <label><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</label>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row dashBoardSelectOptions" [ngStyle]="{'background-color':'#4B77BE','height':'100%'}">

                     <!-- This tab will be hidden  when the web browser is resize to above medium-->
                    <div class="col-2 hidden-md-down">
                        
                        <ul class="dashBoardSelectOptionsUl pl-3 list-unstyled">
                            <li class="mt-4 pl-2" [ngStyle]="backgroundColor" (click)="onClickHomeView(0)" > 
                                <label class="dashboardOptionsCss"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span> </label>
                            </li>
                            <li class="mt-4 mb-4 pl-2" (click)="onClickComapnyView(1)"  > 
                                <label class="dashboardOptionsCss"><i class="fa fa-building-o" aria-hidden="true"></i> <span>Company</span> </label>
                            </li>
                            <span class="mt-4 pl-2" >
                                    <label class="dashboardOptionsCss"><i class="fa fa-car" aria-hidden="true"></i> <span>Vechicles</span> </label>
                            </span>
                               
                            <li class="mt-4 ml-3 pl-2 " (click)="onClickTruckView(2)" >
                                    <label class="dashboardOptionsCss"><i class="fa fa-truck" aria-hidden="true"></i> <span>Truck</span> </label>
                            </li>
                            <li class="mt-4 ml-3 pl-2" (click)="onClickTrailerView(3)"  >
                                <label class="dashboardOptionsCss"><i class="fa fa-building-o" aria-hidden="true"></i> <span>Trailer</span> </label>
                            </li>
                            <li class="mt-4 pl-2" (click)="onClickDriverView(4)" >  
                                <label class="dashboardOptionsCss"><i class="fa fa-users" aria-hidden="true"></i> <span>Drivers</span> </label>
                            </li>
                            <li class="mt-4 mb-4 pl-2" (click)="onClickDocumentView(5)" >  
                                <label class="dashboardOptionsCss"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span>Documents</span> </label>    
                            </li>
                            <span class="mt-4 pl-2" >  
                                <label class="dashboardOptionsCss"><i class="fa fa-bar-chart" aria-hidden="true"></i> <span>Reports</span> </label>    
                            </span>
                            <li class="mt-4 ml-3 pl-2" (click)="onClickAssetUtilizationView(6)"  >
                                        <label class="dashboardOptionsCss">Asset Utilization </label>
                            </li>
                                    
                            <li class="mt-4 ml-3 pl-2" >
                                 <label class="dashboardOptionsCss" (click)="onClickDriverDairyView(7)" >Driver Dairy </label>
                            </li>
                            <li class="mt-4 ml-3 pl-2" >
                                <label class="dashboardOptionsCss" (click)="onClickDVIRView(8)" >DVIR </label>
                             </li>
                            <li class="mt-4 ml-3 pl-2" >
                                <label class="dashboardOptionsCss" (click)="onClickIFTAView(9)" >IFTA </label>
                            </li>
                               
                        </ul>
                    </div>
              
                <div class="col-lg-10 col-xlg-10 col-md-12 col-sm-12" [ngStyle]="{ 'background-color':'#ffffff'}" >
                    <div class="container-fluid">
                       
                        
                        <div class="row" [ngStyle]="{'max-height':'92%','overflow-y':'scroll','overflow-x':'hidden'}">
                            <div class="col-12" *ngIf="showHomeActive">
                                <control-center> </control-center>
                            </div>
                            <div class="col-12" *ngIf="showCompanyActive">
                                <company></company>
                            </div>
                            <div class="col-12" *ngIf="showTrucksActive">
                            </div>
                            <div class="col-12" *ngIf="showDriversActive">
                                <drivers-home></drivers-home>
                            </div>
                            <div class="col-12" *ngIf="showDriversActive">
                            </div>
                            <div class="col-12" *ngIf="showDocumentsActive">
                            </div>
                            <div class="col-12" *ngIf="showAssetUtilizationActive">
                            </div>
                            <div class="col-12" *ngIf="showDriverDairyActive">
                            </div>
                            <div class="col-12" *ngIf="showDVIRActive">
                            </div>
                            <div class="col-12" *ngIf="showIFTAActive">
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>
