<div class="container" *ngIf="showCompleteCompany">
    <!-- Complete Company Body Starts-->



    <div class="row justify-content-center">
        <div class="col">
            <div class="form-header">
                <h1>Company Profile</h1>
                <p>You're just two steps away to explore the FleetOperate portal. Please complete your company profile below.</p>
            </div>
        </div>
    </div>



    <form [formGroup]="completeCompanyForm">
        <div class="row">
            <div class="col">

                <h4>{{companyName}}</h4>
                <br>
                <!-- Display fill all required fields error starts-->
                <div class="alert alert-danger" role="alert" *ngIf="displayRequiredFieldError">
                    <div>Please fill all required fields with red asterisk (*).</div>
                </div>
                <!-- Display fill all required fields error ends-->
                <table class="data" cellspacing="2">
                    <tr>
                        <td>Company Website</td>
                        <td><input type="text" class="form-control" formControlName="companyWebsite"></td>
                    </tr>
                    <tr>
                        <td>Business Number</td>
                        <td><input type="text" class="form-control" formControlName="businessNumber"></td>
                    </tr>
                    <tr>
                        <td>Business Name</td>
                        <td><input type="text" class="form-control" formControlName="businessName"></td>
                    </tr>
                    <tr>
                        <td>DOT Number</td>
                        <td><input type="text" class="form-control" formControlName="dotNumber"></td>
                    </tr>
                    <tr>
                        <td>Company Start Time<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td>
                            <select class="ui search dropdown" class="form-control" formControlName="companyDayStartTime" name="companyDayStartTime"
                                required>
                            <option value="00:00">00:00</option>
                            <option value="00:15">00:15</option>
                           <option value="00:30">00:30</option>
                            <option value="00:45">00:45</option>  
                            <option value="01:00">01:00</option>
                            <option value="01:15">01:15</option>
                            <option value="01:30">01:30</option>
                            <option value="01:45">01:45</option>
                            <option value="02:00">02:00</option>
                            <option value="02:15">02:15</option>
                            <option value="02:30">02:30</option>
                            <option value="02:45">02:45</option>
                            <option value="03:00">03:00</option>
                            <option value="03:15">03:15</option>
                            <option value="03:30">03:30</option>
                            <option value="03:45">03:45</option>
                            <option value="04:00">04:00</option>
                            <option value="04:15">04:15</option>
                            <option value="04:30">04:30</option>
                            <option value="04:45">04:45</option>
                            <option value="05:00">05:00</option>
                            <option value="05:15">05:15</option>
                            <option value="05:30">05:30</option>
                            <option value="05:45">05:45</option>
                            <option value="06:00">06:00</option>
                            <option value="06:15">06:15</option>
                            <option value="06:30">06:30</option>
                            <option value="06:45">06:45</option>
                            <option value="07:00">07:00</option>
                            <option value="07:15">07:15</option>
                            <option value="07:30">07:30</option>
                            <option value="07:45">07:45</option>
                            <option value="08:00">08:00</option>
                            <option value="08:15">08:15</option>
                            <option value="08:30">08:30</option>
                            <option value="08:45">08:45</option>
                            <option value="09:00">09:00</option>
                            <option value="09:15">09:15</option>
                            <option value="09:30">09:30</option>
                            <option value="09:45">09:45</option>
                            <option value="10:00">10:00</option>
                            <option value="10:15">10:15</option>
                            <option value="10:30">10:30</option>
                            <option value="10:45">10:45</option>
                            <option value="11:00">11:00</option>
                            <option value="11:15">11:15</option>
                            <option value="11:30">11:30</option>
                            <option value="11:45">11:45</option>
                            <option value="12:00">12:00</option>
                            <option value="12:15">12:15</option>
                            <option value="12:30">12:30</option>
                             <option value="12:45">12:45</option>  
                             <option value="13:00">13:00</option>
                             <option value="13:15">13:15</option>
                             <option value="13:30">13:30</option>
                             <option value="13:45">13:45</option>
                             <option value="14:00">14:00</option>
                             <option value="14:15">14:15</option>
                             <option value="14:30">14:30</option>
                             <option value="14:45">14:45</option>
                             <option value="15:00">15:00</option>
                             <option value="15:15">15:15</option>
                             <option value="15:30">15:30</option>
                             <option value="15:45">15:45</option>
                             <option value="16:00">16:00</option>
                             <option value="16:15">16:15</option>
                             <option value="16:30">16:30</option>
                             <option value="16:45">16:45</option>
                             <option value="17:00">17:00</option>
                             <option value="17:15">17:15</option>
                             <option value="17:30">17:30</option>
                             <option value="17:45">17:45</option>
                             <option value="18:00">18:00</option>
                             <option value="18:15">18:15</option>
                             <option value="18:30">18:30</option>
                             <option value="18:45">18:45</option>
                             <option value="19:00">19:00</option>
                             <option value="19:15">19:15</option>
                             <option value="19:30">19:30</option>
                             <option value="19:45">19:45</option>
                             <option value="20:00">20:00</option>
                             <option value="20:15">20:15</option>
                             <option value="20:30">20:30</option>
                             <option value="20:45">20:45</option>
                             <option value="21:00">21:00</option>
                             <option value="21:15">21:15</option>
                             <option value="21:30">21:30</option>
                             <option value="21:45">21:45</option>
                             <option value="22:00">22:00</option>
                             <option value="22:15">22:15</option>
                             <option value="22:30">22:30</option>
                             <option value="22:45">22:45</option>
                             <option value="23:00">23:00</option>
                             <option value="23:15">23:15</option>
                             <option value="23:30">23:30</option>
                             <option value="23:45">23:45</option>
                             
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Company Timezone<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td>
                            <select class="ui search dropdown" class="form-control" formControlName="companyTimezone" name="companyTimezone" required>
                           
                            <option value="GMT-03:30">(NST) Newfoundland Standard Time - UTC-03:30</option>
                            <option value="GMT-02:30">(NDT) Newfoundland Daylight Time - UTC-02:30</option>
                            <option value="GMT-04:00">(AST) Atlantic Standard Time - UTC-04:00</option>
                            <option value="GMT-03:00">(ADT) Atlantic Daylight Time - UTC-03:00</option>
                            <option value="GMT-05:00">(EST) Eastern Standard Time - UTC-05:00</option>
                            <option value="GMT-04:00">(EDT) Eastern Daylight Time - UTC-04:00</option>
                            <option value="GMT-06:00">(CST) Central Standard Time - UTC-06:00</option>
                            <option value="GMT-05:00">(CDT) Central Daylight Time - UTC-05:00</option>
                            <option value="GMT-07:00">(MST) Mountain Standard Time - UTC-07:00</option>
                            <option value="GMT-06:00">(MDT) Mountain Daylight Time - UTC-06:00</option>
                            <option value="GMT-08:00">(PST) Pacific Standard Time - UTC-08:00</option>
                            <option value="GMT-07:00">(PDT) Pacific Daylight Time - UTC-07:00</option>
                            <option value="GMT-09:00">(AKST) Alaska Standard Time - UTC-09:00</option>
                            <option value="GMT-08:00">(AKDT) Alaska Daylight Time - UTC-08:00</option>   
                            <option value="GMT-10:00">(HAST) Hawaii-Aleutian Standard Time - UTC-10:00</option>
                            <option value="GMT-09:00">(HADT) Hawaii-Aleutian Daylight Time - UTC-09:00</option>
                            
                        </select>
                        </td>
                    </tr>
                </table>

                <br>
                <h5>ELD Support</h5>
                <!-- Display email id exists error starts-->
                <div class="alert alert-danger" role="alert" *ngIf="displayEmailIdExists">
                    
                    <div>Email ID is already registered, please try another email ID.</div>
                </div>
                <!-- Display email id exists error ends-->
                <table class="data" cellspacing="2">
                    <tr>
                        <td>Email ID<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td><input type="email" class="form-control" formControlName="eldSupportEmailId" (blur)="onEmailIdTabOff(completeCompanyForm.value)"
                                required></td>
                    </tr>
                    <tr>
                        <td>Password<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td><input type="password" class="form-control" formControlName="eldSupportPassword" 
                            maxlength="6" minlength="6" pattern="^[0-9]{6}$" required></td>
                    </tr>
                    <tr>
                        <td>Re-Type Password<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td><input type="password" class="form-control" formControlName="confirmPassword" 
                            maxlength="6" minlength="6" pattern="^[0-9]{6}$" required></td>
                    </tr>


                </table>
                <!-- Display Password not matching error starts-->
                <div class="alert alert-danger" role="alert" *ngIf="displayPasswordNotMatch">
                    <div>Password not matching, please re-type same password.</div>
                </div>
                <!-- Display Password not matching error ends-->
            </div>

        </div>
    </form>

    <br>
    <div class="row">
        <div class="col-md-6">
            <button type="button" (click)="onClickContinue(completeCompanyForm)" class="btn btn-primary">Continue</button>
            <button class="btn btn-primary" (click)="onClickCancel()">Cancel</button>
            <!--<button id="showModal" [hidden]="true" data-toggle="modal" data-target="#createAccountSuccessfulModal">Open Modal</button>-->
        </div>
    </div>

    <!-- Complete Company Body Ends-->
</div>

<div class="container" *ngIf="showCompleteAdmin">
    <!-- Complete Admin Body Starts-->



    <div class="row justify-content-center">
        <div class="col">
            <div class="form-header">
                <h1>Admin Profile</h1>
                <p>You're just one step away to explore the FleetOperate portal. Please complete your admin profile below.</p>
            </div>
        </div>
    </div>



    <form [formGroup]="completeAdminForm">
        <div class="row">

            <div class="col">
                <h4>{{adminName}}</h4>
                <br>
                <!-- Display fill all required fields error starts-->
                <div class="alert alert-danger" role="alert" *ngIf="displayRequiredFieldError">
                    <div>Please fill all required fields with red asterisk (*).</div>
                </div>
                <!-- Display fill all required fields error ends-->
                <table class="data" cellspacing="2">

                    <tr>
                        <td>Date Of Birth<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td><input type="date" class="form-control" formControlName="dob" max="2900-12-31" min="1800-12-31" required></td>
                    </tr>
                    <tr>
                        <td>Gender<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td>
                            <select class="ui search dropdown" class="form-control" formControlName="gender" name="gender" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Unspecified">Unspecified</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <h5>Address</h5>

                <table class="data" cellspacing="2">
                    <tr>
                        <td>Address Line 1<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td><input type="text" class="form-control" formControlName="adminAddressLine1" required></td>
                    </tr>

                    <tr>
                        <td>Address Line 2</td>
                        <td><input type="text" class="form-control" formControlName="adminAddressLine2"></td>
                    </tr>
                    <tr>
                        <td>City<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td><input type="text" class="form-control" formControlName="adminCity" required></td>
                    </tr>
                    <tr>
                        <td>Country<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td>
                            <select (change)="onClickCountry(adminCountry.value)" #adminCountry class="form-control" id="country" formControlName="adminCountry"
                                required>
                                        
                     <option value="CANADA">CANADA</option>
                     <option value="USA">USA</option>
                   </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Province/State<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td>
                            <div *ngIf="showCanadaProvinces">
                                <select class="form-control" id="provinceState" formControlName="adminProvince" name="adminProvince" required>
                                        
                                            <option>ALBERTA</option>
                                            <option>BRITISH COLUMBIA</option>
                                            <option>MANITOBA</option>
                                            <option>NEW BRUNSWICK</option>
                                            <option>NEWFOUNDLAND</option>
                                            <option>NOVA SCOTIA</option>
                                            <option>NORTHWEST TERRITORIES</option>
                                            <option>ONTARIO</option>
                                            <option>PRINCE EDWARD ISLAND</option>
                                            <option>QUEBEC</option>
                                            <option>SASKATCHEWAN</option>
                                            <option>YUKON TERRITORY</option>
                                        </select>
                            </div>

                            <div *ngIf="showUSProvinces">
                                <select class="form-control" id="provinceState" formControlName="adminProvince" name="adminProvince" required>
                                            <option>ALABAMA</option>
                                            <option>ALASKA</option>
                                            <option>ARKANSAS</option>
                                            <option>ARIZONA</option>
                                            <option>CALIFORNIA</option>
                                            <option>COLORADO</option>
                                            <option>CONNECTICUT</option>
                                            <option>DIST OF COL</option>
                                            <option>DELAWARE</option>
                                            <option>FLORIDA</option>
                                            <option>GEORGIA</option>
                                            <option>HAWAII</option>
                                            <option>IOWA</option>
                                            <option>IDAHO</option>
                                            <option>ILLINOIS</option>
                                            <option>INDIANA</option>
                                            <option>KANSAS</option>
                                            <option>KENTUCKY</option>
                                            <option>LOUISIANA</option>
                                            <option>MASSACHUSETTS</option>
                                            <option>MARYLAND</option>
                                            <option>MAINE</option>
                                            <option>MICHIGAN</option>
                                            <option>MINNESOTA</option>
                                            <option>MISSOURI</option>
                                            <option>MISSISSIPPI</option>
                                            <option>MONTANA</option>
                                            <option>NORTH CAROLINA</option>
                                            <option>NORTH DAKOTA</option>
                                            <option>NEBRASKA</option>
                                            <option>NEW HEMPSHIRE</option>
                                            <option>NEW JERSEY</option>
                                            <option>NEW MEXICO</option>
                                            <option>NEVADA</option>
                                            <option>NEW YORK</option>
                                            <option>OHIO</option>
                                            <option>OKLAHOMA</option>
                                            <option>OREGON</option>
                                            <option>PENNSYLVANIA</option>
                                            <option>PHODE ISLAND</option>
                                            <option>SOUTH CAOLINA</option>
                                            <option>SOUTH DAKOTA</option>
                                            <option>TENNESSEE</option>
                                            <option>TEXAS</option>
                                            <option>UTAH</option>
                                            <option>VIRGINIA</option>
                                            <option>VERMONT</option>
                                            <option>WASHINGTON</option>
                                            <option>WISCONSIN</option>
                                            <option>WEST VIRGINIA</option>
                                            <option>WYOMING</option>
                                            <option>AMERICANSAMOA</option>
                                            <option>GUAM</option>
                                            <option>NORTHERN MARIANAS</option>
                                            <option>PUERTORICO</option>
                                            <option>VIRGIN ISLANDS</option>
                                        </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Postal Code<span [ngStyle]="{'color':'red'}">*</span></td>
                        <td><input type="text" class="form-control" formControlName="adminPostalCode" required></td>
                    </tr>
                </table>
            </div>


        </div>
    </form>

    <br>
    <div class="row">
        <div class="col-md-6">
            <button type="button" (click)="onClickSubmit(completeAdminForm)" class="btn btn-primary">Submit</button>
            <button class="btn btn-primary" (click)="onClickBack()">Back</button>
            <!--<button id="showModal" [hidden]="true" data-toggle="modal" data-target="#createAccountSuccessfulModal">Open Modal</button>-->
        </div>
    </div>

    <!-- Complete Admin Body Ends-->
</div>